body {
    font-family: 'Fredoka One', cursive;
}

.player2-display {
    margin-bottom: 2em;
}

.gameboard {
    display: flex;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 5px;
    width: 75vmin;
    height: 75vmin;
    flex-wrap: wrap;
    margin:auto;
    background-color:rgb(196, 215, 230);
    padding:0;
}

.blurred {
    filter:blur(8px)
}

.block {
    transition-duration: 0.05s;
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-basis: 33.333333%;
    height: 33.33333%;
    border: 1px solid black;
    font-size: 7em;
    padding:0;
    margin:0;
    user-select: none;
}

.block.flash {
    color:rgb(156, 218, 137);
    background-color: rgba(0,0,0,0.78);
}

.block:hover:not(.flash) {
    background-color:rgba(0,0,0,0.06);
}

.block:active:not(.flash) {
    background-color: rgba(0,0,0,0.15);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.game-over-window, .player-select-window {
    border: 5px solid black;
    border-radius: 10px;
    transition-duration: 0.2s;
    opacity: 0;
    height: 0px;
    width: 0px;    
    background-color: cornflowerblue;
    font-size: 0px;
    text-align: center;
}

.game-over-window.activated, .player-select-window.activated {
    font-size: 3.8em;
    opacity: 1;
    height: 300px;
    width: 340px;
}

.overlay {
    position: absolute;
    top:0;
    left:0;
    margin:0;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    width: 100vw;
    transition-duration: 0.4s;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,0.78);
}

.overlay.activated {
    opacity: 1;
    visibility: visible;
}

.game-over-text {
    font-size: 0.6em;
    margin: 1em 0;
}

.btn-new-game, .btn-start-game {
    font-size: 0.7em;
    border: 3px solid black;
    border-radius: 10px;
    background-color: lightsteelblue;
    padding: 0.3em;
    margin-top: 0.5em;
}

.btn-new-game:hover, .btn-start-game:hover {
    background-color: rgb(137, 153, 173);
}

.btn-player-cpu {
    font-size: 0.5em;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightsteelblue;
    padding: 5px;
    margin-top: 0;
}

.btn-player-cpu:hover {
    background-color: rgb(137, 153, 173);
}

.btn-player-cpu.activated {
    background-color: rgb(156, 218, 137);
}

.player-name {
    font-size: 0.5em;
    width: 7em;
    padding: 5px;
    margin-bottom: 0.4em;
    border: 2px solid black;
    border-radius: 10px;
}